<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
				<meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
				<title><%= htmlWebpackPlugin.options.title %></title>
				
  </head>
  <body class="fixed-bottom-padding">
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
				<div id="app"></div>
				<script>
					// window.$ = window.jQuery = require('jquery')
					window.init_dropdown=function(){
							$.getScript('/js/osahan.js');
					}
			</script>
			<script type="text/javascript" src="http://localhost:8000/vendor/jquery/jquery.min.js"></script>
			<script type="text/javascript" src="http://localhost:8000/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
			<script type="text/javascript" src="http://localhost:8000/vendor/slick/slick.min.js"></script>
			<script type="text/javascript" src="http://localhost:8000/vendor/sidebar/hc-offcanvas-nav.js"></script>
  </body>
</html>
