<template>
<div id="cart">
      <div class="theme-switch-wrapper">
         <label class="theme-switch" for="checkbox">
            <input type="checkbox" id="checkbox" />
            <div class="slider round"></div>
            <i class="icofont-moon"></i>
         </label>
         <em>Enable Dark Mode!</em>
      </div>
      <div class="osahan-cart">
      <div class="p-3 border-bottom">
         <div class="d-flex align-items-center">
            <h5 class="font-weight-bold m-0">Cart</h5>
            <a class="toggle ml-auto" href="#"><i class="icofont-navigation-menu"></i></a>
         </div>
      </div>
      <div class="osahan-body">
         <div class="cart-items bg-white position-relative border-bottom">
            <a href="product_details.html" class="position-absolute">
            <span class="badge badge-danger m-3">10%</span>
            </a>
            <div class="d-flex  align-items-center p-3">
               <a href="product_details.html"><img src="img/cart/g1.png" class="img-fluid"></a>
               <a href="product_details.html" class="ml-3 text-dark text-decoration-none w-100">
                  <h5 class="mb-1">Bread</h5>
                  <p class="text-muted mb-2"><del class="text-success mr-1">$1.20kg</del> $0.98/kg</p>
                  <div class="d-flex align-items-center">
                     <p class="total_price font-weight-bold m-0">$2.82</p>
                     <div class="input-group input-spinner ml-auto cart-items-number">
                        <div class="input-group-prepend">
                           <button class="btn btn-success btn-sm" type="button" id="button-plus"> + </button>
                        </div>
                        <input type="text" class="form-control" value="1">
                        <div class="input-group-append">
                           <button class="btn btn-success btn-sm" type="button" id="button-minus"> − </button>
                        </div>
                     </div>
                  </div>
               </a>
            </div>
         </div>
         <div class="cart-items bg-white position-relative border-bottom">
            <div class="d-flex  align-items-center p-3">
               <a href="product_details.html"><img src="img/cart/g2.png" class="img-fluid"></a>
               <a href="product_details.html" class="ml-3 text-dark text-decoration-none w-100">
                  <h5 class="mb-1">Spinach</h5>
                  <p class="text-muted mb-2"><del class="text-success mr-1">$1.20kg</del> $0.98/kg</p>
                  <div class="d-flex align-items-center">
                     <p class="total_price font-weight-bold m-0">$3.82</p>
                     <div class="input-group input-spinner ml-auto cart-items-number">
                        <div class="input-group-prepend">
                           <button class="btn btn-success btn-sm" type="button" id="button-plus"> + </button>
                        </div>
                        <input type="text" class="form-control" value="3">
                        <div class="input-group-append">
                           <button class="btn btn-success btn-sm" type="button" id="button-minus"> − </button>
                        </div>
                     </div>
                  </div>
               </a>
            </div>
         </div>
         <div class="cart-items bg-white position-relative border-bottom">
            <div class="d-flex  align-items-center p-3">
               <a href="product_details.html"><img src="img/cart/g3.png" class="img-fluid"></a>
               <a href="product_details.html" class="ml-3 text-dark text-decoration-none w-100">
                  <h5 class="mb-1">Chilli</h5>
                  <p class="text-muted mb-2"><del class="text-success mr-1">$1.20kg</del> $0.98/kg</p>
                  <div class="d-flex align-items-center">
                     <p class="total_price font-weight-bold m-0">$2.82</p>
                     <div class="input-group input-spinner ml-auto cart-items-number">
                        <div class="input-group-prepend">
                           <button class="btn btn-success btn-sm" type="button" id="button-plus"> + </button>
                        </div>
                        <input type="text" class="form-control" value="2">
                        <div class="input-group-append">
                           <button class="btn btn-success btn-sm" type="button" id="button-minus"> − </button>
                        </div>
                     </div>
                  </div>
               </a>
            </div>
         </div>
         <div class="p-3 mt-5">
            <a href="order_address.html" class="text-decoration-none">
               <div class="rounded shadow bg-success d-flex align-items-center p-3 text-white">
                  <div class="more">
                     <h6 class="m-0">Subtotal $8.52</h6>
                     <p class="small m-0">Proceed to checkout</p>
                  </div>
                  <div class="ml-auto"><i class="icofont-simple-right"></i></div>
               </div>
            </a>
         </div>
      </div>
</div>
</div>
</template>
<script>
export default {
  name: 'cart',
  data () {
    return {

    }
  },
  mounted () {
    const recaptchaScript = document.createElement('script')
    recaptchaScript.setAttribute('src', 'http://127.0.0.1:8000/vendor/jquery/jquery.min.js')
    document.head.appendChild(recaptchaScript)
    const recaptchaScript2 = document.createElement('script')
    recaptchaScript2.setAttribute('src', 'http://127.0.0.1:8000/vendor/bootstrap/js/bootstrap.bundle.min.js')
    document.head.appendChild(recaptchaScript2)
    const recaptchaScript3 = document.createElement('script')
    recaptchaScript3.setAttribute('src', 'http://127.0.0.1:8000/vendor/slick/slick.min.js')
    document.head.appendChild(recaptchaScript3)
    const recaptchaScript4 = document.createElement('script')
    recaptchaScript4.setAttribute('src', 'http://127.0.0.1:8000/vendor/sidebar/hc-offcanvas-nav.js')
    document.head.appendChild(recaptchaScript4)
    const recaptchaScript5 = document.createElement('script')
    recaptchaScript5.setAttribute('src', 'http://127.0.0.1:8000/js/osahan.js')
    document.head.appendChild(recaptchaScript5)
  }
}
</script>
