<template>
 <div id="detail_produk">
<div class="theme-switch-wrapper">
         <label class="theme-switch" for="checkbox">
            <input type="checkbox" id="checkbox" />
            <div class="slider round"></div>
            <i class="icofont-moon"></i>
         </label>
         <em>Enable Dark Mode!</em>
      </div>

      <div class="p-3 bg-white">
         <div class="d-flex align-items-center">
            <router-link to="/beranda" class="font-weight-bold text-success text-decoration-none"><i class="icofont-rounded-left back-page"></i> Back</router-link>
            <a class="ml-auto font-weight-bold text-white text-decoration-none" href="fresh_vegan.html"><i class="icofont-heart p-2 bg-danger shadow-sm rounded-circle"></i></a>
            <a class="font-weight-bold text-white text-decoration-none ml-2" href="#"><i class="icofont-share p-2 bg-success shadow-sm rounded-circle"></i></a>
            <a class="toggle ml-3" href="#"><i class="icofont-navigation-menu"></i></a>
         </div>
      </div>
      <div class="px-3 bg-white pb-3">
         <div class="pt-0">
            <h2 class="font-weight-bold">{{detail.nama_produk}}</h2>
            <p class="font-weight-light text-dark m-0 d-flex align-items-center">
               Harga : <b class="h6 text-dark m-0">{{detail.harga}}</b>
               <span class="badge badge-danger ml-2">50% OFF</span>
            </p>
            <a href="#">
            <div class="rating-wrap d-flex align-items-center mt-2">
               <ul class="rating-stars list-unstyled">
                  <li>
                     <i class="icofont-star text-warning"></i>
                     <i class="icofont-star text-warning"></i>
                     <i class="icofont-star text-warning"></i>
                     <i class="icofont-star text-warning"></i>
                     <i class="icofont-star"></i>
                  </li>
               </ul>
               <p class="label-rating text-muted ml-2 small"> (245 Reviews)</p>
            </div>
            </a>
         </div>
         <div class="pt-2">
            <div class="row">
               <div class="col-6">
                  <p class="font-weight-bold m-0">Delivery</p>
                  <p class="text-muted m-0">Free</p>
               </div>
               <div class="col-6">
                  <p class="font-weight-bold m-0">Available in:</p>
                  <p class="text-muted m-0">1 kg, 2 kg, 5 kg</p>
               </div>
            </div>
         </div>
      </div>
      <div class="osahan-product">
         <div class="product-details">
            <div class="recommend-slider py-1">
               <div class="osahan-slider-item m-2">
                  <img :src="detail.gambar" class="img-fluid mx-auto shadow-sm rounded" alt="">
               </div>
               <div class="osahan-slider-item m-2">
                  <img :src="detail.gambar" class="img-fluid mx-auto shadow-sm rounded" alt="">
               </div>
               <div class="osahan-slider-item m-2">
                  <img :src="detail.gambar" class="img-fluid mx-auto shadow-sm rounded" alt="">
               </div>
            </div>
            <div class="details">
               <div class="p-3 bg-white">
                  <div class="d-flex align-items-center">
                     <div class="btn-group osahan-radio btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                          <input type="radio" name="options" id="option1" checked> 4 pcs
                        </label>
                        <label class="btn btn-secondary">
                          <input type="radio" name="options" id="option2"> 6 pcs
                        </label>
                        <label class="btn btn-secondary">
                          <input type="radio" name="options" id="option3"> 1 kg
                        </label>
                      </div>

                     <a class="ml-auto" href="cart.html">
                        <div class="input-group input-spinner ml-auto cart-items-number">
                           <div class="input-group-prepend">
                              <button class="btn btn-success btn-sm" type="button" id="button-plus"> + </button>
                           </div>
                           <input type="text" class="form-control" value="1">
                           <div class="input-group-append">
                              <button class="btn btn-success btn-sm" type="button" id="button-minus"> − </button>
                           </div>
                        </div>
                     </a>
                  </div>
               </div>
               <div class="p-3">
                  <div class="input-group mb-3 rounded shadow-sm overflow-hidden bg-white">
                     <div class="input-group-prepend">
                        <button class="border-0 btn btn-outline-secondary text-success bg-white"><i class="icofont-search"></i></button>
                     </div>
                     <input type="text" class="shadow-none border-0 form-control form-control-lg pl-0" placeholder="Type your city (e.g Chennai, Pune)" aria-label="" aria-describedby="basic-addon1">
                  </div>
                  <p class="font-weight-bold mb-2">Product Details</p>
                  <p class="text-muted small">High quality Fresh Orange fruit exporters from South Korea for sale. All citrus trees belong to the single genus Citrus and remain almost entirely interfertile. This includes grapefruits, lemons, limes, oranges, and various other types and hybrids. The fruit of any citrus tree is considered a hesperidium, a kind of modified berry; it is covered by a rind originated by a rugged thickening of the ovary wall.</p>
                  <p class="font-weight-bold mb-3">Maybe You Like this.</p>
                  <div class="row">
                  <ListProduk v-bind:produks="produks" v-if="renderComponent"></ListProduk>
                  </div>
               </div>
            </div>
            <div class="fixed-bottom pd-f bg-white d-flex align-items-center border-top">
               <a href="cart.html" class="btn-warning py-3 px-5 h4 m-0"><i class="icofont-cart"></i></a>
               <a href="cart.html" class="btn btn-success btn-block">Buy</a>
            </div>
         </div>
      </div>
 </div>
</template>
<script>
import ListProduk from './../components/ListProduct'
import AuthenticationService from '@/services/AuthenticationService'
export default {
  name: 'detail_produk',
  components: {
    ListProduk
  },
  data () {
    return {
      id: '',
      detail: '',
      produks: [],
      renderComponent: true,
      urut: 0
    }
  },
  mounted () {
    const recaptchaScript5 = document.createElement('script')
    recaptchaScript5.setAttribute('src', 'http://127.0.0.1:8000/js/osahan.js')
    document.head.appendChild(recaptchaScript5)
    // this.id = this.$route.params.id
    this.load()
  },
  methods: {
    async load () {
      try {
        this.id = this.$route.params.id
        const response = await AuthenticationService.detailProduk({
          id: this.$route.params.id
        })
        this.detail = response.data.data
        console.log('ID :' + response.data.data.id)
        this.produks = response.data.produks
        this.urut = this.urut + 1
        this.update()
      } catch (error) {
        console.log('ERROR.' + error)
      }
    },
    async update () {
      const response = await AuthenticationService.detailProduk({
        id: this.$route.params.id
      })
      this.detail = response.data.data
      this.produks = response.data.produks
    },
    forceRerender () {
      // Remove my-component from the DOM
      this.renderComponent = false

      this.$nextTick(() => {
        // Add the component back in
        this.renderComponent = true
      })
    }
  }
}
</script>
