<template>
<div class="home">
    <div class="osahan-index">
         <div class="bg-success d-flex align-items-center justify-content-center vh-100">
            <router-link to="/getStart"><img class="index-osahan-logo" :src="dirImage" alt=""></router-link>
         </div>
      </div>
</div>
</template>
<script>
export default {
  name: 'home',
  data () {
    return {
      router: '',
      dirImage: 'http://192.168.43.155:8080/img/ks.png'
      // dirImage: 'http://127.0.0.1:8000/img/ks.png'
    }
  },
  mounted () {
    this.load()
  },
  methods: {
    load () {
      const self = this
      setTimeout(function () {
        self.$router.push({ name: 'getStart' })
      }, 3000)
    }
  }
}
</script>
