
<template>
<div id="index" v-if="isMobile">
      <div class="theme-switch-wrapper">
         <label class="theme-switch" for="checkbox">
            <input type="checkbox" id="checkbox" />
            <div class="slider round"></div>
            <i class="icofont-moon"></i>
         </label>
         <em>Enable Dark Mode!</em>
      </div>
      <!-- home page -->
      <div class="osahan-home-page">
         <div class="border-bottom p-3">
            <div class="title d-flex align-items-center">
               <a href="home.html" class="text-decoration-none text-dark d-flex align-items-center">
                  <img class="osahan-logo mr-2" :src="logo">
                  <h4 class="font-weight-bold text-success m-0">GoSayur</h4>
               </a>
               <p class="ml-auto m-0">
                  <a href="notification.html" class="text-decoration-none bg-white p-1 rounded shadow-sm d-flex align-items-center">
                  <i class="text-dark icofont-notification"></i>
                  <span class="badge badge-danger p-1 ml-1 small">2</span>
                  </a>
               </p>
               <a class="toggle ml-3" href="#"><i class="icofont-navigation-menu"></i></a>
            </div>
            <a href="search.html" class="text-decoration-none">
               <div class="input-group mt-3 rounded shadow-sm overflow-hidden bg-white">
                  <div class="input-group-prepend">
                     <button class="border-0 btn btn-outline-secondary text-success bg-white"><i class="icofont-search"></i></button>
                  </div>
                  <input type="text" class="shadow-none border-0 form-control pl-0" placeholder="Search for Products.." aria-label="" aria-describedby="basic-addon1">
               </div>
            </a>
         </div>
         <!-- body -->
         <div class="osahan-body">
            <!-- categories -->
            <Categori></Categori>
            <!-- Promos -->
            <Promos></Promos>
            <!-- Pick's Today -->
            <!-- pick today -->
<div id="list">
<div class="title d-flex align-items-center mb-3 mt-3 px-3">
<h6 class="m-0">Pick's Today</h6>
<a class="ml-auto text-success" href="picks_today.html">See more</a>
</div>
            <Produk v-bind:produks="produks"></Produk>
</div>
            <!-- Most sales -->
            <div class="title d-flex align-items-center p-3">
               <h6 class="m-0">Recommend for You</h6>
               <a class="ml-auto text-success" href="recommend.html">26 more</a>
            </div>
            <!-- osahan recommend -->
            <div class="osahan-recommend px-3">
               <div class="row">
                  <div class="col-12 mb-3">
                     <a href="product_details.html" class="text-dark text-decoration-none">
                        <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
                           <div class="recommend-slider rounded pt-2">
                              <div class="osahan-slider-item m-2 rounded">
                                 <img src="img/recommend/r1.jpg" class="img-fluid mx-auto rounded shadow-sm" alt="Responsive image">
                              </div>
                              <div class="osahan-slider-item m-2 rounded">
                                 <img src="img/recommend/r2.jpg" class="img-fluid mx-auto rounded shadow-sm" alt="Responsive image">
                              </div>
                              <div class="osahan-slider-item m-2 rounded">
                                 <img src="img/recommend/r3.jpg" class="img-fluid mx-auto rounded shadow-sm" alt="Responsive image">
                              </div>
                           </div>
                           <div class="p-3 position-relative">
                              <h6 class="mb-1 font-weight-bold text-success">Fresh Orange
                              </h6>
                              <p class="text-muted">Orange Great Quality item from Jamaica.</p>
                              <div class="d-flex align-items-center">
                                 <h6 class="m-0">$8.8/kg</h6>
                     <a class="ml-auto" href="cart.html">
                     <div class="input-group input-spinner ml-auto cart-items-number">
                     <div class="input-group-prepend">
                     <button class="btn btn-success btn-sm" type="button" id="button-plus"> + </button>
                     </div>
                     <input type="text" class="form-control" value="1">
                     <div class="input-group-append">
                     <button class="btn btn-success btn-sm" type="button" id="button-minus"> − </button>
                     </div>
                     </div>
                     </a>
                     </div>
                     </div>
                     </div>
                     </a>
                  </div>
                  <div class="col-12 mb-3">
                     <a href="product_details.html" class="text-dark text-decoration-none">
                        <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
                           <div class="recommend-slider rounded pt-2">
                              <div class="osahan-slider-item m-2">
                                 <img src="img/recommend/r4.jpg" class="img-fluid mx-auto rounded shadow-sm" alt="Responsive image">
                              </div>
                              <div class="osahan-slider-item m-2">
                                 <img src="img/recommend/r5.jpg" class="img-fluid mx-auto rounded shadow-sm" alt="Responsive image">
                              </div>
                              <div class="osahan-slider-item m-2">
                                 <img src="img/recommend/r6.jpg" class="img-fluid mx-auto rounded shadow-sm" alt="Responsive image">
                              </div>
                           </div>
                           <div class="p-3 position-relative">
                              <h6 class="mb-1 font-weight-bold text-success">Green Apple</h6>
                              <p class="text-muted">Green Apple Premium item from Vietnam.</p>
                              <div class="d-flex align-items-center">
                                 <h6 class="m-0">$10.8/kg</h6>
                     <a class="ml-auto" href="cart.html">
                     <div class="input-group input-spinner ml-auto cart-items-number">
                     <div class="input-group-prepend">
                     <button class="btn btn-success btn-sm" type="button" id="button-plus"> + </button>
                     </div>
                     <input type="text" class="form-control" value="1">
                     <div class="input-group-append">
                     <button class="btn btn-success btn-sm" type="button" id="button-minus"> − </button>
                     </div>
                     </div>
                     </a>
                     </div>
                     </div>
                     </div>
                     </a>
                  </div>
                  <div class="col-12 mb-3">
                     <a href="product_details.html" class="text-dark text-decoration-none">
                        <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
                           <div class="recommend-slider rounded pt-2">
                              <div class="osahan-slider-item m-2">
                                 <img src="img/recommend/r7.jpg" class="img-fluid mx-auto rounded shadow-sm" alt="Responsive image">
                              </div>
                              <div class="osahan-slider-item m-2">
                                 <img src="img/recommend/r8.jpg" class="img-fluid mx-auto rounded shadow-sm" alt="Responsive image">
                              </div>
                              <div class="osahan-slider-item m-2">
                                 <img src="img/recommend/r9.jpg" class="img-fluid mx-auto rounded shadow-sm" alt="Responsive image">
                              </div>
                           </div>
                           <div class="p-3 position-relative">
                              <h6 class="mb-1 font-weight-bold text-success">Fresh Apple
                              </h6>
                              <p class="text-muted">Fresh Apple Premium item from Thailand.</p>
                              <div class="d-flex align-items-center">
                                 <h6 class="m-0">$12.8/kg</h6>
                     <a class="ml-auto" href="cart.html">
                     <div class="input-group input-spinner ml-auto cart-items-number">
                     <div class="input-group-prepend">
                     <button class="btn btn-success btn-sm" type="button" id="button-plus"> + </button>
                     </div>
                     <input type="text" class="form-control" value="1">
                     <div class="input-group-append">
                     <button class="btn btn-success btn-sm" type="button" id="button-minus"> − </button>
                     </div>
                     </div>
                     </a>
                     </div>
                     </div>
                     </div>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>

</div>
</template>
<script>
// import '@/assets/vendor/slick/slick.min.js'
// import '@/assets/vendor/sidebar/hc-offcanvas-nav.js'
// import '@/assets/js/osahan.js'
import AuthenticationService from '@/services/AuthenticationService'
import Produk from './../components/ListProduk'
import Categori from './../components/Category'
import Promos from './../components/Promos'
export default {
  name: 'index',
  components: {
    Produk, Promos, Categori
  },
  data: function () {
    return {
      logo: '',
      produks: []
    }
  },
  mounted () {
    const recaptchaScript5 = document.createElement('script')
    recaptchaScript5.setAttribute('src', 'http://127.0.0.1:8000/js/osahan.js')
    document.head.appendChild(recaptchaScript5)
    this.load()
  },
  methods: {
    async load () {
      try {
        const response = await AuthenticationService.index()
        this.logo = response.data.logo
        this.produks = response.data.produks
        console.log('respon login :' + JSON.stringify(response.data))
      } catch (error) {
        console.log('ERROR.' + error)
      }
    },
    formatPrice (value) {
      const val = (value / 1).toFixed(2).replace('.', ',')
      return (val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')).replace(',00', '')
    },
    isMobile () {
      if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
        return true
      } else {
        return false
      }
    }
  }
}
</script>
