<template>
 <div id="landing">
      <div class="theme-switch-wrapper">
         <label class="theme-switch" for="checkbox">
            <input type="checkbox" id="checkbox" />
            <div class="slider round"></div>
            <i class="icofont-moon"></i>
         </label>
         <em>Enable Dark Mode!</em>
      </div>
      <div class="landing-page bg-white">
         <a class="position-absolute btn-sm btn btn-outline-success m-4 zindex" href="home.html">Skip <i class="icofont-bubble-right"></i></a>         <!-- slider -->
         <div class="osahan-slider m-0">
            <div class="osahan-slider-item text-center">
               <div class="d-flex align-items-center justify-content-center vh-100 flex-column">
                  <i class="icofont-sale-discount display-1 text-success"></i>
                  <h4 class="my-4 text-dark">Best Prices & Offers</h4>
                  <p class="text-center text-muted mb-5 px-4">Cheaper prices than your local supermarket, great cashback offers to top it off.</p>
               </div>
            </div>
            <div class="osahan-slider-item text-center">
               <div class="d-flex align-items-center justify-content-center vh-100 flex-column">
                  <i class="icofont-cart display-1 text-success"></i>
                  <h4 class="my-4 text-dark">Wide Assortment</h4>
                  <p class="text-center text-muted mb-5 px-4">Choose from 5000+ products across food, personal care, household & other categories.</p>
               </div>
            </div>
            <div class="osahan-slider-item text-center">
               <div class="d-flex align-items-center justify-content-center vh-100 flex-column">
                  <i class="icofont-support-faq display-1 text-success"></i>
                  <h4 class="my-4 text-dark">Easy Returns</h4>
                  <p class="text-center text-muted mb-5 px-4">Not satisfied with a product? Return it at the doorstep & get a refund within hours.</p>
               </div>
            </div>
         </div>
      </div>
      <div class="osahan-fotter fixed-bottom">
         <router-link to="/beranda" class="btn btn-success btn-lg fixed-bottom">Get Started</router-link>
      </div>
  </div>
</template>
<script>
export default {
  name: 'landing',
  data () {
    return {

    }
  }
}
</script>
