<template>
<div id="category">
<div class="p-3 osahan-categories">
               <h6 class="mb-2">What do you looking for?</h6>
               <div class="row m-0">
                  <div class="col pl-0 pr-1 py-1">
                     <div class="bg-white shadow-sm rounded text-center  px-2 py-3 c-it">
                        <router-link to="/product/1">
                           <img src="img/categorie/1.svg" class="img-fluid px-2">
                           <p class="m-0 pt-2 text-muted text-center">Vegetables</p>
                        </router-link>
                     </div>
                  </div>
                  <div class="col p-1">
                     <div class="bg-white shadow-sm rounded text-center  px-2 py-3 c-it">
                        <router-link to="/product/2">
                           <img src="img/categorie/2.svg" class="img-fluid px-2">
                           <p class="m-0 pt-2 text-muted text-center">Fruits</p>
                        </router-link>
                     </div>
                  </div>
                  <div class="col p-1">
                     <div class="bg-white shadow-sm rounded text-center  px-2 py-3 c-it">
                        <router-link to="/product/2">
                           <img src="img/categorie/3.svg" class="img-fluid px-2">
                           <p class="m-0 pt-2 text-muted text-center">Meat</p>
                        </router-link>
                     </div>
                  </div>
                  <div class="col pr-0 pl-1 py-1">
                     <div class="bg-white shadow-sm rounded text-center  px-2 py-3 c-it">
                        <router-link to="/product/4">
                           <img src="img/categorie/4.svg" class="img-fluid px-2">
                           <p class="m-0 pt-2 text-muted text-center">Seafood</p>
                        </router-link>
                     </div>
                  </div>
               </div>
               <div class="row m-0">
                  <div class="col pl-0 pr-1 py-1">
                     <div class="bg-white shadow-sm rounded text-center  px-2 py-3 c-it">
                        <router-link to="/product/5">
                           <img src="img/categorie/5.svg" class="img-fluid px-2">
                           <p class="m-0 pt-2 text-muted text-center">Milk & Egg</p>
                        </router-link>
                     </div>
                  </div>
                  <div class="col p-1">
                     <div class="bg-white shadow-sm rounded text-center  px-2 py-3 c-it">
                        <router-link to="/product/5">
                           <img src="img/categorie/6.svg" class="img-fluid px-2">
                           <p class="m-0 pt-2 text-muted text-center">Bread</p>
                        </router-link>
                     </div>
                  </div>
                  <div class="col p-1">
                     <div class="bg-white shadow-sm rounded text-center  px-2 py-3 c-it">
                        <router-link to="/product/7">
                           <img src="img/categorie/7.svg" class="img-fluid px-2">
                           <p class="m-0 pt-2 text-muted text-center">Frozen</p>
                        </router-link>
                     </div>
                  </div>
                  <div class="col pr-0 pl-1 py-1">
                     <div class="bg-white shadow-sm rounded text-center  px-2 py-3 c-it">
                        <a href="listing.html">
                           <img src="img/categorie/8.svg" class="img-fluid px-2">
                           <p class="m-0 pt-2 text-muted text-center">Organic</p>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
</div>
</template>
<script>
export default {
  name: 'category',
  data () {
    return {

    }
  }
}
</script>
