<template>
<div id="footer">
<div class="osahan-menu-fotter fixed-bottom bg-white text-center border-top">
         <div class="row m-0">
            <a @click="belanja()" :class="selected_beranda" class="text-muted small col font-weight-bold text-decoration-none p-2">
               <p class="h5 m-0"><i :class="text_hijau_beranda" class="icofont-grocery"></i></p>
               Belanja
            </a>
            <a @click="cart()" :class="selected_cart" class="text-muted col small font-weight-bold text-decoration-none p-2">
               <p class="h5 m-0"><i :class="text_hijau_cart" class="icofont-cart"></i></p>
               Keranjang
            </a>
            <a @click="orderan()" class="text-muted col small font-weight-bold text-decoration-none p-2">
               <p class="h5 m-0"><i class="icofont-bag"></i></p>
               Orderan
            </a>
            <a @click="akun()" class="text-muted small col font-weight-bold text-decoration-none p-2">
               <p class="h5 m-0"><i class="icofont-user"></i></p>
               Akun
            </a>
         </div>
      </div>
</div>
</template>
<script>
export default {
  name: 'footer',
  data () {
    return {
      selected_beranda: 'selected',
      text_hijau_beranda: 'text-success',
      selected_cart: '',
      text_hijau_cart: '',
      selected_orderan: '',
      text_hijau_orderan: '',
      selected_akun: '',
      text_hijau_akun: ''
    }
  },
  mounted () {

  },
  methods: {
    belanja () {
      const self = this
      self.selected_beranda = 'selected'
      self.text_hijau_beranda = 'text-success'
      self.selected_cart = ''
      self.text_hijau_cart = ''
      self.selected_orderan = ''
      self.text_hijau_orderan = ''
      self.selected_akun = ''
      self.text_hijau_akun = ''
      self.$router.push({ name: 'beranda' })
    },
    cart () {
      const self = this
      self.selected_beranda = ''
      self.text_hijau_beranda = ''
      self.selected_cart = 'selected'
      self.text_hijau_cart = 'text-success'
      self.selected_orderan = ''
      self.text_hijau_orderan = ''
      self.selected_akun = ''
      self.text_hijau_akun = ''
      self.$router.push({ name: 'cart' })
    },
    orderan () {
      const self = this
      self.selected_beranda = ''
      self.text_hijau_beranda = ''
      self.selected_cart = ''
      self.text_hijau_cart = ''
      self.selected_orderan = 'selected'
      self.text_hijau_orderan = 'text-success'
      self.selected_akun = ''
      self.text_hijau_akun = ''
      self.$router.push({ name: 'orderan' })
    },
    akun () {
      const self = this
      self.selected_beranda = ''
      self.text_hijau_beranda = ''
      self.selected_cart = ''
      self.text_hijau_cart = ''
      self.selected_orderan = ''
      self.text_hijau_orderan = ''
      self.selected_akun = 'selected'
      self.text_hijau_akun = 'text-success'
      self.$router.push({ name: 'akun' })
    }
  }
}
</script>
