<template>
<div class="pick_today px-3">
  <div class="row">
    <div v-for="(produk,index) in produks" :key="index" class="col-6 pb-3 pr-2 pl-2">
      <div v-if="((index) % 2) == '0'" class="pr-0 h-100">
        <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
          <div class="list-card-image">
            <div class="text-dark">
              <div class="member-plan position-absolute">
              </div>
              <div class="p-3">
                <div @click="detail(produk)">
                 <img :src="produk.gambar" class="img-fluid item-img w-100 mb-3">
                 <h6>{{produk.nama_produk}}</h6>
                </div>
                <div class="d-flex align-items-center">
                  <h6 class="price m-0 text-success">{{formatPrice(produk.harga)}} / {{produk.satuan}}</h6>
                  <a @click="addToCart(produk)" class="btn btn-success btn-sm ml-auto">+</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-else-if="((index) % 2) == '1'"  :key="produk.id" class="pl-0 h-100">
        <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
          <div class="list-card-image">
            <div class="text-dark">
              <div class="member-plan position-absolute">
              </div>
                <div class="p-3">
                <div @click="detail(produk)">
                 <img :src="produk.gambar" class="img-fluid item-img w-100 mb-3">
                 <h6>{{produk.nama_produk}}</h6>
                </div>
                <div class="d-flex align-items-center">
                  <h6 class="price m-0 text-success">{{formatPrice(produk.harga)}} / {{produk.satuan}}</h6>
                  <a @click="addToCart(produk)" class="btn btn-success btn-sm ml-auto">+</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'list',
  props: ['produks'],
  state: {
    cart: [],
    cartCount: 0
  },
  data: function () {
    return {
    }
  },
  methods: {
    formatPrice (value) {
      const val = (value / 1).toFixed(2).replace('.', ',')
      return (val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')).replace(',00', '')
    },
    detail (item) {
      const self = this
      if (this.$route.name === 'detailProduk') {
        self.$router.push({ path: '/detailProduct/' + item.id })
      } else {
        self.$router.push({ path: '/detailProduk/' + item.id })
      }
    },
    addToCart (item) {
      alert(JSON.stringify(item))
    }
  }
}
</script>
