<template>
<div id="productCategory">
            <div class="row">
               <div v-for="(produk,index) in produks" :key="index" class="col-6 p-0 border-right border-bottom border-top border-left">
                  <div class="list-card-image">
                     <div class="text-dark">

                        <div class="p-3">
                          <div @click="detail(produk)">
                             <img :src="produk.gambar" class="img-fluid item-img w-100 mb-3">
                             <h6>{{produk.nama_produk}}</h6>
                          </div>
                           <div class="d-flex align-items-center">
                              <h6 class="price m-0 text-success">{{formatPrice(produk.harga)}} / {{produk.satuan}}</h6>
                     <a @click="addToCart(produk)" class="btn btn-success btn-sm ml-auto">+</a>
                     </div>
                     </div>
                     </div>
                  </div>
                </div>
            </div>
    </div>
</template>
<script>
export default {
  name: 'productCategory',
  props: ['produks'],
  data () {
    return {

    }
  },
  methods: {
    formatPrice (value) {
      const val = (value / 1).toFixed(2).replace('.', ',')
      return (val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')).replace(',00', '')
    },
    detail (item) {
      const self = this
      if (this.$route.name === 'detailProduk') {
        self.$router.push({ path: '/detailProduct/' + item.id })
      } else {
        self.$router.push({ path: '/detailProduk/' + item.id })
      }
    },
    addToCart (item) {
      alert(JSON.stringify(item))
    }
  }
}
</script>
