<template>
<div>
<div class="py-3 bg-white osahan-promos shadow-sm">
               <div class="d-flex align-items-center px-3 mb-2">
                  <h6 class="m-0">Promos for you</h6>
                  <a href="promos.html" class="ml-auto text-success">See more</a>
               </div>
               <div class="promo-slider">
                  <div class="osahan-slider-item m-2">
                     <a href="promo_details.html"><img src="img/promo1.jpg" class="img-fluid mx-auto rounded" alt="Responsive image"></a>
                  </div>
                  <div class="osahan-slider-item m-2">
                     <a href="promo_details.html"><img src="img/promo2.jpg" class="img-fluid mx-auto rounded" alt="Responsive image"></a>
                  </div>
                  <div class="osahan-slider-item m-2">
                     <a href="promo_details.html"><img src="img/promo3.jpg" class="img-fluid mx-auto rounded" alt="Responsive image"></a>
                  </div>
               </div>
            </div>
</div>
</template>
