<template>
 <div id="layout">
  <router-view/>
  <Tombol></Tombol>
 </div>
</template>
<script>
import Tombol from './../components/Footer'
export default {
  name: 'layout',
  data () {
    return {

    }
  },
  mounted () {

  },
  components: {
    Tombol
  }
}
</script>
